 <section>
        <div class="container  p-2">
            <div class="row">
                {{#each products}}
                <div class="col-md-3 mt-5">
                    <div class="card" style="width:15rem; height:20rem  ;">
                        <img style="width:8rem;height:10rem" src="/product-images/{{this._id}}.jpg"
                            class="card-img-top" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" >{{this.Name}}</h5>
                          <p class="card-text">{{this.Description}}</p>
                          <h5 class="card-price " style="color: teal;" >Rs.{{this.Price}}</h5>
                              
                              <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add To cart</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

  